.name-row {
  padding: 0 3%;
  margin-left: -2%;
}

.message-row, .expiration-row {
  padding: 0 10%
}

.name-container {
  margin-top: -20px;
}

/*BUTTON STYLING*/
.button {
  background: none;
  border: none;
  padding: 2%;
  outline: none;
}

.button:hover {
  background-color:  #D1D1D1
}

.encryption-buttons {
  padding-bottom: 2%;
}

/*PASSPHRASE COMPONENT*/
.passphrase-component {
  margin-top: 15px;
}

.passphrase-paragraph, .passphrase-hash {
  text-align: center;
  float: none !important;
}

.passphrase-hash {
  text-align: left;
}

.passphrase-generator {
  margin-left: 4px;
}

.hash{
  color: #0275d8 !important;
}
